@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.entire-news-container{
    background-color: rgb(190, 190, 190);
}

.news {
    background-color: rgb(230, 230, 230);
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 34px;
    color: black;
  }
  
  .news-img {
    width: 16vw;
    height: 10vw;
    border-radius: 8px;
  }
  
  .news-container {
    background-color: rgb(230, 230, 230);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 50px;
    width: 75%;
    margin: 0 auto;
  }
  
  .news-item {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-flow: column;
    width: 16vw;
    margin: 15px;
    height: auto;
  }
  
  .news-title {
    font-weight: 800;
    font-size: 1vw;
    color: rgb(0, 0, 0);
  }
  
  .news-content {
    font-weight: 500;
    font-size: 0.8vw;
    color: rgb(0, 0, 0);
    padding-top: 20px;
  }

  .medium-news-item {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-flow: row;
    height: 350px;
    padding: 20px 10px 0px 30px;
  }
  
  .medium-news-img {
    width: 16vw;
    height: 17vw;
  
    border-radius: 8px;
    border-color: red;
  }
  
  .medium-news-title {
    font-weight: 800;
    font-size: 1.2vw;
    width: 310px;
    color: black;
    margin-left: 20px;
  }
  
  .medium-news-content {
    font-weight: 500;
    font-size: 1vw;
    color: rgb(0, 0, 0);
    padding-top: 20px;
  }

  .big-news-item {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 50px;
  }
  
  .big-news-img {
    width: 50vw;
    height: 30vw;
    border-radius: 8px;
  }
  
  .big-news-title {
    font-weight: 800;
    font-size: 1.5vw;
    color: black;
    margin-left: 20px;
  }
  
  .big-news-content {
    font-weight: 500;
    font-size: 1vw;
    color: rgb(0, 0, 0);
    padding-top: 20px;
  }

  .news-img-container{
    transition: transform 0.3s ease;
  }

  .news-img-container:hover {
    transform: scale(1.06);
  }

  .medium-news-img-container {
    transition: transform 0.3s ease;
  }
  
  .medium-news-img-container:hover {
    transform: scale(1.04);
  }

  .big-news-img-container {
    transition: transform 0.3s ease;
  }
  
  .big-news-img-container:hover {
    transform: scale(1.02);
  }